<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="905f717f-0e1b-4551-9e86-6cc72d01ee87" wadlVersion="http://wadl.dev.java.net/2009/02" name="SmartBear Library" type="rest" basePath="/SmartBear_Software/sbLib/1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:description>Request data from our smartbear library</con:description><con:settings><con:setting id="905f717f-0e1b-4551-9e86-6cc72d01ee87fileName">SmartBear-Library</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://localhost:8060/</con:endpoint><con:endpoint>https://virtserver.swaggerhub.com</con:endpoint></con:endpoints></con:interface>