<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="2497ff2a-e3ab-4ae1-88e2-b877d5d2d99f" created="2.1.0-m-SNAPSHOT" activeEnvironment="TEST" name="SmartbearLibrary" resourceRoot="" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/><con:oAuth1ProfileContainer/><con:environment id="2396dac1-8514-4e32-8713-0719804d56b8" name="TEST"><con:service type="REST" name="SmartBear Library"><con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">https://virtserver.swaggerhub.com</con:endpoint></con:service><con:databaseConnectionContainer/></con:environment><con:authRepository/><con:tags/></con:soapui-project>